<?php

/**
 * NotificationApi
 * PHP version 8.1
 *
 * @package  Accounting
 * @author   STAN-TAB CORP. LTD
 * @link     https://accounting.sh
 */

/**
 * Accounting API
 *
 * The version of the OpenAPI document: 8.1.1
 * @generated Generated by: https://openapi-generator.tech
 * Generator version: 7.6.0-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

namespace Accounting\Api;

use InvalidArgumentException;
use Accounting\Accounting;
use Accounting\ApiException;

/**
 * NotificationApi Class Doc Comment
 *
 * @package  Accounting
 * @author   STAN-TAB CORP. LTD
 * @link     https://accounting.sh
 */
class NotificationApi
{
    /**
     * @var Accounting
     */
    protected Accounting $client;

    /**
     * @param Accounting $client
     */
    public function __construct(Accounting $client)
    {
        $this->client = $client;
    }



    /**
     * Operation listNotificationPreferences
     *
     * List notification preferences
     *
     * @param  string $notification The notification name (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return null|string|array
     *
     * @link https://api.accounting.sh/swagger.html#operation/listNotificationPreferences
     */
    public function listNotificationPreferences(
        string $notification,
    ): null|string|array {

        // verify the required parameter 'notification' is set
        if ($notification === null || (is_array($notification) && count($notification) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $notification when calling listNotificationPreferences'
            );
        }


        $resourcePath = '/notifications/preferences/{notification}';
        $queryParams = [];
        $headers = [];
        $options = [];



        if ($notification !== null) {
            $resourcePath = str_replace(
                '{' . 'notification' . '}',
                rawurlencode($notification),
                $resourcePath
            );
        }




        if (!empty($headers)) {
            $options['headers'] = $headers;
        }
        $query = http_build_query($queryParams);
        return $this->client->request("GET", $resourcePath . ($query ? "?{$query}" : ''), $options);
    }

    /**
     * Operation listNotifications
     *
     * List company&#39;s notifications
     *
     * @param  string|null $fields A comma separated list of fields requested in the response (optional)
     * @param  string|null $page The response page (optional)
     * @param  string|null $perPage The number of items per page (optional)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return null|string|array
     *
     * @link https://api.accounting.sh/swagger.html#operation/listNotifications
     */
    public function listNotifications(
        string|null $fields = null,
        string|null $page = null,
        string|null $perPage = null,
    ): null|string|array {



        $resourcePath = '/notifications';
        $queryParams = [];
        $headers = [];
        $options = [];

        if ($fields !== null) {
            $queryParams['fields'] = $fields;
        }
        if ($page !== null) {
            $queryParams['page'] = $page;
        }
        if ($perPage !== null) {
            $queryParams['per_page'] = $perPage;
        }






        if (!empty($headers)) {
            $options['headers'] = $headers;
        }
        $query = http_build_query($queryParams);
        return $this->client->request("GET", $resourcePath . ($query ? "?{$query}" : ''), $options);
    }

    /**
     * Operation sendNotification
     *
     * Send a notification
     *
     * @param  array $sendNotificationRequest sendNotificationRequest (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return null|string|array
     *
     * @link https://api.accounting.sh/swagger.html#operation/sendNotification
     */
    public function sendNotification(
        array $sendNotificationRequest,
    ): null|string|array {

        // verify the required parameter 'sendNotificationRequest' is set
        if ($sendNotificationRequest === null || (is_array($sendNotificationRequest) && count($sendNotificationRequest) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $sendNotificationRequest when calling sendNotification'
            );
        }


        $resourcePath = '/notifications/send';
        $queryParams = [];
        $headers = [];
        $options = [];




        $options['json'] = $sendNotificationRequest;



        if (!empty($headers)) {
            $options['headers'] = $headers;
        }
        $query = http_build_query($queryParams);
        return $this->client->request("POST", $resourcePath . ($query ? "?{$query}" : ''), $options);
    }

    /**
     * Operation updateNotificationPreferences
     *
     * Update notification preferences
     *
     * @param  string $notification The notification name (required)
     * @param  array $updateNotificationPreferencesRequest updateNotificationPreferencesRequest (required)
     *
     * @throws ApiException on non-2xx response or if the response body is not in the expected format
     * @throws InvalidArgumentException
     * @return null|string|array
     *
     * @link https://api.accounting.sh/swagger.html#operation/updateNotificationPreferences
     */
    public function updateNotificationPreferences(
        string $notification,
        array $updateNotificationPreferencesRequest,
    ): null|string|array {

        // verify the required parameter 'notification' is set
        if ($notification === null || (is_array($notification) && count($notification) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $notification when calling updateNotificationPreferences'
            );
        }
        // verify the required parameter 'updateNotificationPreferencesRequest' is set
        if ($updateNotificationPreferencesRequest === null || (is_array($updateNotificationPreferencesRequest) && count($updateNotificationPreferencesRequest) === 0)) {
            throw new InvalidArgumentException(
                'Missing the required parameter $updateNotificationPreferencesRequest when calling updateNotificationPreferences'
            );
        }


        $resourcePath = '/notifications/preferences/{notification}';
        $queryParams = [];
        $headers = [];
        $options = [];



        if ($notification !== null) {
            $resourcePath = str_replace(
                '{' . 'notification' . '}',
                rawurlencode($notification),
                $resourcePath
            );
        }

        $options['json'] = $updateNotificationPreferencesRequest;



        if (!empty($headers)) {
            $options['headers'] = $headers;
        }
        $query = http_build_query($queryParams);
        return $this->client->request("PUT", $resourcePath . ($query ? "?{$query}" : ''), $options);
    }

}
